APP_PORT=3000
APP_NAME=go-auth-rotation
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=go_auth
DB_PARAMS=charset=utf8mb4&parseTime=True&loc=Local

JWT_ACCESS_SECRET=super-access-secret-key
JWT_REFRESH_SECRET=super-refresh-secret-key
JWT_ISSUER=go-auth-rotation
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7